.pack {
  background-color: white;
  height: 100%;
  width: auto;
}

.CGbar {
  padding-left: 50px;
  background-color: white;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.all {
  flex-grow: 4;
}

.sub {
  flex-grow: 1;
}

.middle {
  display: flex;
  row-gap: 30px;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 20px;
}

.right {
  flex-grow: 2;
}

.ctg {
  color: black;
  font-size: 20px;
  padding-left: 50px;
}

.drop {
  display: flex;
  background-color: white;
  width: 70%;
  justify-content: space-around;
  margin-left: 60px;
}

.drop2 {
  display: flex;
  background-color: white;
  width: 70%;
  justify-content: space-around;
}

.status {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  accent-color: white;
}

.ip {
  padding-left: 60px;
  accent-color: white;
}

.profile-image {
  align-self: center;
  height: 80px;
  width: 80px;
  justify-content: center;
  padding-top: 20px;
  object-fit: contain;
  border-radius: 120px;
}

.wholecard {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: transparent;
  gap: 20px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: white;
  border-radius: 8px;
  width: 230px;
  height: 240px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 18px #011118;
  padding-bottom: 10px;
}

.Name {
  justify-content: center;
  align-items: center;
  color: #165069;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  max-width: 100%;
}

.vidtag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags {
  font-size: small;
  background-color: #165069;
  font-weight: 500;
  border-radius: 8px;
  color: white;
  margin: 5px;
  padding: 2px;
}

.viewButton {
  width: 70%;
  justify-content: center;
  background-color: #165069;
  color: white;
  padding-bottom: 5px;
}

.faka {
  height: 20px;
  width: 100%;
  background-color: white;
}

.line {
  background-color: grey;
  height: 1px;
  width: 80%;
  margin-left: 20px;
}

.bigline {
  background-color: black;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

.search {
  background-color: white;
  border-color: #165069;
  border-width: 1px;
  border-radius: 8px;
  font-size: 18px;
  width: 70%;
}

.sortingbar {
  background-color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sbtn {
  flex-grow: 1;
  background-color: #165069;
  color: black;
}
