@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.guava{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px cadetblue;
    padding: 1rem;
    border-radius: 1rem;
    width:25%;
}
.guava .jaima{

    position: relative;
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
    width:50%;
    /* height: 50%; */
    align-items: center;
    justify-content: flex-start;
    /* row-gap: 0.2rem;
    padding:1rem; */
}
.guava .kola{

    font-family:Poppins;
    font-size: 1rem;
    font-weight: 600;
    width:100%;
}
.guava .komola{

    font-family:Poppins;
    font-size: 1rem;
    font-weight: 600;
    width:100%;
    word-wrap:break-word;

}
.guava .peyara{

    font-family:Poppins;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: cadetblue;
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    left: 30%;

}
