 .ama{
    position: relative;
    display:flex;
    flex-direction:column;
    border: solid 1px black;
    /* height:50vh; */
    width: 40vw;
    align-items: center;
    row-gap: 0.2rem;
    box-sizing: border-box;
    padding:1rem;
    background-color: rgba(56, 71, 86, 1);
    color: aliceblue;
}

 .ama .jama{
    position: relative;
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
    width:30%;
    /* height: 50%; */
    align-items: center;
    justify-content: flex-start;
    /* row-gap: 0.2rem;
    padding:1rem; */
}

 .ama .jama .kathala{
    position: relative;
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
      width:100%;
    height: 10%;
    align-items: center;
    row-gap: 0.2rem;
    padding:1rem;
    font-size: medium;
    font-family:Poppins;
}

 .ama .jama .peyaraa{
    position: relative;
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
      width:100%;
    height: 5%;
    align-items: center;
    row-gap: 0.2rem;
    padding:1rem;
    font-size: medium;
    font-family:Poppins;
}
.ama .patal{
    position: relative; 
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
    width:80%;
    height: 80%;
    align-items: flex-start;
    row-gap: 0.2rem;
    /* padding:1rem; */
}

.ama .patal .akash{
    position: relative;
    display:flex;
    flex-direction: column;
    /* border: solid 1px black; */
      width:60%;
    height: 10%;
    align-items:flex-start;
    row-gap: 0.2rem;
    padding:1rem;
    font-size: medium;
    font-family:Poppins;
}

.ama .patal .mati{
    position: relative;
    display:flex;
    flex-direction: row;
    /* border: solid 1px black; */
      width:100%;
    height: 40%;
    justify-content: center;
    row-gap: 0.2rem;
    padding:1rem;
}

.ama .patal .mati .dragon{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:18%;
  height: 10%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size:xx-large;
}
.ama .patal .mati .bel{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:18%;
  height: 10%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size:xx-large;
}
.ama .patal .mati .komolaa{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:18%;
  height: 10%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size:xx-large;
}
.ama .patal .mati .lotkon{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:18%;
  height: 10%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size:xx-large;
}
.ama .patal .mati .kul{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:18%;
  height: 10%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size:xx-large;
}

.ama .lebu{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
  width:100%;
  /* height: 50%; */
  align-items:flex-start;
  row-gap: 0.2rem;
  padding:1rem;
}

.ama .lebu .korola{
  position: relative;
  display:flex;
  flex-direction: column;
  /* border: solid 1px black; */
    width:50%;
  height: 5%;
  align-items: center;
  row-gap: 0.2rem;
  padding:1rem;
  font-size: medium;
  font-family:Poppins;
  font-weight: 400;
}
.ama .lebu .jambura{
  position: relative;
  display:flex;
  flex-direction: column;
  border: solid 1px black;
    width:90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  row-gap: 0.2rem;
  padding:1rem;
  background-color: rgba(33, 52, 64, 1);
}

.ama .sand{
  position: relative;
  display:flex;
  flex-direction: column;
  border: solid 1px black;
  width:30%;
  /* height: 50%; */
  align-items: center;
  row-gap: 0.2rem;
  padding:0.3rem;
  font-size: medium;
    font-family:Poppins;
    font-weight: 600;
    border-color: aliceblue;
    background-color:rgba(33, 52, 64, 1) ;
}

.Pict{
  height: 50%;
  width: 50%;
  border-radius: 50%;
}