.Container {
  background-color: #19526b;
  height: 800px;
  overflow: hidden;
  position: absolute;
  width: 1518px;
  display: flex;
  text-align: left;
}

.swnlogo_ {
  height: 45px;
  left: 56px;
  position: absolute;
  float: left;
  top: 3px;
  width: 250px;
  display: flex;
}

.verify-image {
  height: 416px;
  left: 261px;
  position: absolute;
  top: 152px;
  width: 360.98px;
  display: flex;
}

.verify-text {
  color: #6695a0;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  /* left: 692px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  text-align: center;
  /* top: 150px; */
  display: flex;
}

.description {
  color: white;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 300;
  /* left: 693px; */
  letter-spacing: 0;
  line-height: normal;
  /* position: absolute; */
  /* top: 200px; */
  white-space: nowrap;
  width: 50px;
  display: flex;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
}

.box1 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  /* left: 693px; */
  /* position: absolute; */
  /* top: 300px; */
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box2 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  /* left: 802px; */
  /* position: absolute; */
  /* top: 300px; */
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box3 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  /* left: 908px; */
  /* position: absolute; */
  /* top: 300px; */
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box4 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 10px;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  /* left: 1015px; */
  position: absolute;
  /* top: 300px; */
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.verify-btn {
  background-color: #6695a0 !important;
  border-color: #6695a0;
  border-radius: 10px;
  height: 50px;
  /* left: 729px; */
  /* position: absolute; */
  /* top: 432px; */
  width: 324px;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.again {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  /* left: 603px; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  /* top: 492px; */
  white-space: nowrap;
  width: 476px;
  display: flex;
  justify-content: center;
}

.didnt {
  color: #6695a0;
}

.resend {
  color: #ffffff;
}
