.vertical-line {
  border-left: 3px solid #165069;
  margin: 0 20px;
}

.box1 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #213440;
  border-radius: 20px;
  color:#165069;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  height: 55px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box2 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #213440;
  border-radius: 20px;
  color:#165069;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  height: 55px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box3 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #213440;
  border-radius: 20px;
  color:#165069;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  height: 55px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.box4 {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #213440;
  border-radius: 20px;
  color:#165069;
  font-size: 30px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  height: 55px;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.verify-btn {
  background-color: #165069 !important;
  border-color: #6695a0;
  border-radius: 10px;
  height: 50px;
  width: 324px;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.again {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  /* left: 603px; */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  /* top: 492px; */
  white-space: nowrap;
  width: 476px;
  display: flex;
  justify-content: center;
}

.didnt {
  color: #6695a0;
}

.resend {
  color: #000000;
}
