.allCategories,
.bestCourses,
.sortBy {
  margin: 0;
  position: absolute;
  top: 221px;
  left: 46px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.bestCourses,
.sortBy {
  top: 472px;
  left: 590px;
}
.sortBy {
  left: 1119px;
  font-weight: 400;
}
.freelancing,
.internship,
.newlyAdded,
.partTime,
.tution {
  cursor: pointer;
  position: absolute;
  top: 471px;
  left: 1233px;
  font-weight: 500;
}
.freelancing,
.internship,
.partTime,
.tution {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 236px;
  left: 617px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 164px;
  height: 22px;
}
.freelancing,
.partTime,
.tution {
  left: 781px;
  width: 185px;
}
.freelancing,
.partTime {
  left: 1010px;
  width: 123px;
}
.freelancing {
  left: 1178px;
  width: 179px;
}
.frame,
.groupIcon {
  position: relative;
  width: 80px;
  height: 80px;
}
.frame {
  cursor: pointer;
  border: 0;
  padding: 0.5516949892044067px 0;
  background-color: transparent;
  position: absolute;
  top: 31px;
  left: 1392px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.careerGroomingChild,
.careerGroomingItem {
  position: absolute;
  top: 285.5px;
  left: -46.5px;
  border-top: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1513px;
  height: 1px;
}
.careerGroomingItem {
  left: -10.5px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  height: 0.34%;
  width: 0.85%;
  top: 24.35%;
  right: 68.13%;
  bottom: 75.31%;
  left: 31.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1,
.vectorIcon2 {
  height: 0.07%;
  width: 29.23%;
  top: 43.98%;
  right: 68.72%;
  bottom: 55.95%;
  left: 2.05%;
}
.vectorIcon2 {
  width: 29.56%;
  top: 40.79%;
  right: 68.12%;
  bottom: 59.13%;
  left: 2.31%;
}
.vectorIcon3 {
  position: absolute;
  height: 0.34%;
  width: 0.85%;
  top: 20.63%;
  right: 2.32%;
  bottom: 79.03%;
  left: 96.83%;
  background-color: var(--color-black);
}
.level,
.skills {
  margin: 0;
  position: absolute;
  top: 546px;
  left: 39px;
  font-size: var(--font-size-15xl);
  font-weight: 500;
  font-family: inherit;
}
.level {
  top: 1137px;
  left: 42px;
}
.easy,
.hard,
.illustrators,
.intermediate,
.nodejs,
.uxDesigner,
.webDeveloper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 629px;
  left: 106px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.easy,
.hard,
.illustrators,
.intermediate,
.nodejs,
.uxDesigner {
  top: 1235px;
  left: 111px;
}
.hard,
.illustrators,
.intermediate,
.nodejs,
.uxDesigner {
  top: 690px;
  left: 106px;
}
.hard,
.illustrators,
.intermediate,
.nodejs {
  top: 1296px;
  left: 111px;
}
.hard,
.illustrators,
.nodejs {
  top: 751px;
  left: 106px;
}
.hard,
.illustrators {
  top: 1357px;
  left: 111px;
}
.illustrators {
  top: 808px;
  left: 106px;
}
.careerGroomingInner {
  position: absolute;
  top: 269px;
  left: 617px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 164px;
  height: 5px;
}
.reactTutorial,
.videos {
  position: absolute;
  color: var(--color-black);
  display: inline-block;
}
.reactTutorial {
  margin: 0;
  top: 133px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: inherit;
  width: 133.31px;
}
.videos {
  top: 170px;
  left: 109px;
  font-size: var(--font-size-sm);
  width: 103.8px;
  opacity: 0.2;
}
.frameChild,
.frameInner,
.frameItem {
  position: absolute;
  top: 253px;
  left: 181.14px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 59.02px;
  height: 25px;
}
.frameInner,
.frameItem {
  left: 113.98px;
}
.frameInner {
  left: 46.81px;
  background-color: var(--color-darkslategray-200);
}
.css,
.figma,
.html {
  position: absolute;
  top: 253px;
  left: 57px;
  display: inline-block;
  width: 38.67px;
}
.css,
.html {
  top: 257px;
  left: 129.24px;
  width: 28.49px;
}
.css {
  left: 199.46px;
  width: 22.39px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-100);
  position: absolute;
  top: 306px;
  left: 65.13px;
  border-radius: var(--br-3xs);
  box-shadow: var(--primary);
  width: 157.74px;
  height: 40px;
}
.reactTutorialParent {
  position: absolute;
  top: 563px;
  left: 554px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 2px 2px 10px 2px rgba(224, 224, 224, 0.9);
  width: 288px;
  height: 366px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.nextJsTutorial {
  position: absolute;
  top: 133px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 179px;
}
.frameChild3 {
  position: absolute;
  top: 306px;
  left: 65.13px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  box-shadow: var(--primary);
  width: 157.74px;
  height: 40px;
}
.nextJsTutorialParent {
  position: absolute;
  top: 961px;
  left: 554px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 2px 2px 10px 2px rgba(224, 224, 224, 0.9);
  width: 288px;
  height: 366px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.nodeJstutorial {
  margin: 0;
  position: absolute;
  top: 133px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  width: 164px;
}
.nodeJstutorialParent {
  position: absolute;
  top: 561px;
  left: 873px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 2px 2px 10px 2px rgba(224, 224, 224, 0.9);
  width: 288px;
  height: 366px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.mongodbTutorial {
  margin: 0;
  position: absolute;
  top: 133px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  width: 190px;
}
.careerGrooming,
.mongodbTutorialParent {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.mongodbTutorialParent {
  position: absolute;
  top: 559px;
  left: 1192px;
  box-shadow: 2px 2px 10px 2px rgba(224, 224, 224, 0.9);
  width: 288px;
  height: 366px;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-100);
}
.careerGrooming {
  position: relative;
  width: 100%;
  height: 2100px;
  overflow: hidden;
  text-align: left;
  color: white;
  font-family: "Poppins", Helvetica;
}
