.postJobtutorChild {
  position: absolute;
  top: calc(50% - 404px);
  left: calc(50% - 267px);
  border-radius: var(--br-5xs);
  background-color: rgba(56, 71, 86, 0.89);
  box-shadow: var(--icon);
  width: 971px;
  height: 844px;
}
.class,
.description,
.location,
.medium,
.requiredTime,
.salary,
.subject,
.title {
  position: absolute;
  left: calc(50% - 194px);
  letter-spacing: -0.65px;
  font-weight: 500;
  color:aliceblue;
  font-size:64
}
.title {
  top: calc(50% - 414px);
  font-size: 24px;
  line-height: 80px;
}
.class,
.description,
.location,
.medium,
.requiredTime,
.salary,
.subject {
  top: calc(50% - 303px);
  line-height: 25.98px;
}
.description,
.location,
.medium,
.requiredTime,
.salary,
.subject {
  top: calc(50% - 212px);
  left: calc(50% - 198px);
}
.description,
.location,
.requiredTime,
.salary,
.subject {
  top: calc(50% - 113px);
}
.description,
.location,
.salary,
.subject {
  top: calc(50% - 18px);
  left: calc(50% - 194px);
}
.description,
.location,
.subject {
  top: calc(50% + 74px);
}
.description,
.subject {
  top: calc(50% + 167px);
}
.description {
  top: calc(50% + 264px);
  left: calc(50% - 198px);
}
.postJobtutorChild1,
.postJobtutorChild2,
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5,
.postJobtutorInner,
.postJobtutorItem,
.rectangleInput {
  border: 1px solid var(--color-darkgray);
  background-color:#6695a0;
  position: absolute;
  top: calc(50% - 350px);
  left: calc(50% - 194px);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 825px;
  height: 32px;
  color:aliceblue
}
.postJobtutorChild1,
.postJobtutorChild2,
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5,
.postJobtutorInner,
.rectangleInput {
  top: calc(50% - 267px);
}
.postJobtutorChild1,
.postJobtutorChild2,
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5,
.rectangleInput {
  top: calc(50% - 172px);
}
.postJobtutorChild1,
.postJobtutorChild2,
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5 {
  top: calc(50% - 77px);
}
.postJobtutorChild2,
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5 {
  top: calc(50% + 18px);
}
.postJobtutorChild3,
.postJobtutorChild4,
.postJobtutorChild5 {
  top: calc(50% + 113px);
}
.postJobtutorChild4,
.postJobtutorChild5 {
  top: calc(50% + 208px);
}
.postJobtutorChild5 {
  top: calc(50% + 303px);
  height: 66px;
}
.a,
.job,
.post {
  margin: 0;
  position: absolute;
  top: 240px;
  left: 89px;
  font-size: xx-large;
  letter-spacing: -0.61px;
  line-height: 24.5px;
  font-weight: 400;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  display: inline-block;
  width: 265px;
  height: 29px;
  color: aliceblue;
}
.a,
.job {
  top: 402px;
  left: 148px;
  width: 147px;
  height: 28px;
}
.job {
  top: 590px;
  left: -29px;
  width: 501px;
  height: 29px;
}
.groupButton,
.groupChild {
  position: absolute;
  width: 205px;
  height: 30px;
}
.groupChild {
  top: calc(50% - 15px);
  left: calc(50% - 102.5px);
  border-radius: 12.61px;
  background-color: #6695a0;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% + 390px);
  left: calc(50% + 116px);
  color:white
}
.postJobtutor {
  position: relative;
  border-radius: 20px;
  background-color: #165069;
  width: 100%;
  height: 938px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
