.Container {
  background-color: #19526b;
  height: 800px;
  overflow: hidden;
  position: absolute;
  width: 1518px;
  display: flex;
  text-align: left;
}

.swnlogo_ {
  height: 45px;
  left: 56px;
  position: absolute;
  float: left;
  top: 3px;
  width: 250px;
  display: flex;
}

.reset-image {
  height: 500px;
  left: 100px;
  position: absolute;
  top: 152px;
  width: 650px;
  display: flex;
}

.reset-text {
  color: #6695a0;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 790px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 150px;
  display: flex;
}

.description {
  color: white;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 300;
  left: 789px;
  letter-spacing: 0;
  line-height: normal;
  top: 200px;
  white-space: nowrap;
  width: 50px;
  display: flex;
}

.box-wrapper {
  display: flex;
  flex-direction: column;
}

.box-1 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  left: 790px;
  position: absolute;
  top: 289px;
  width: 560px;
  display: flex;
  align-items: center;
  text-align: left;
}

.box-2 {
  background-color: #213440;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 300;
  margin: 10px;
  height: 55px;
  left: 790px;
  position: absolute;
  top: 372px;
  width: 560px;
  display: flex;
  align-items: center;
  text-align: left;
}

.save-button {
  background-color: #3fff0fdc;
  border-color: #6695a0;
  border-radius: 10px;
  height: 50px;
  left: 845px;
  position: absolute;
  top: 467px;
  width: 500px;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 9px;
}
